.App {
  width: 100%;
  height:100%;
  min-height: 100vh;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  padding: 30px;
  background: rgb(166,183,194);
background: radial-gradient(circle, rgba(166,183,194,1) 0%, rgba(162,190,224,0.18000703699448528) 59%, rgba(160,192,235,0.6169818269104517) 100%);
}

h1{
  text-align: center;
  font-size: 40px;
  padding: 20px;
  margin: 20px;
  text-shadow: 
     1px  1px     #fff, 
    -1px  1px     #fff, 
     1px -1px     #fff, 
    -1px -1px     #fff,
     1px  1px 5px #555;
}

.profile{
  text-align: left;
}
.form{
  text-align: center;

}
#name,#surname{
  padding: 10px;
  border-radius: 10%;
  margin: 10px;
}
#button{
  padding: 5px;
  border-radius: 10%;
  margin: 20px;
}
label{
  font-size: 20px;
  font-weight: 600;
}
.personP{
  font-size: 22px;
  font-weight: 400;
}
button{
  font-size: 18px;
  font-weight: 500;
  background: none;
  border: 2px solid white;
  font: inherit;
  line-height: 1;
  margin: 1px;
  padding: 2px;

}
